:root {
    --dark: #131a26;
    --light: #eee;
    --primary: #232249;
    --secondary: #e5523a;
    --third: #6e2262;
    --fourth: #215291;
    --fifth: #1fa365;
    --green-dark: #0e7a48;
    --gray-dse: #2D3748;
    --dark-dse: #171923;
    --purple: #553C9A;
    --pink: #9F7AEA;
}

.home {
    width: 90%;
    height: max-content;
    margin: 0 auto;
    padding-top: 60px;
}

.home-icons {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-content {
    width: 100%;
    height: inherit;
    /* background-color: #0e7a48; */
}


.icon {
    width: 50%;
    height: inherit;
    /* background-color: #215291; */

    padding-top: 30px;
}


.tickets-number {
    width: 200px;
    height: 150px;
    border-radius: 24px;
    border: 2px solid var(--gray-dse);
    background-color: var(--gray-dse);
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    transition: 0.2s ease-in-out;
}


.tickets-number:hover {
    cursor: pointer;
    background-color: var(--gray-dse);
    color: var(--light);
}

.tickets-title {
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
    font-size: 16px;
}

.home-features {
    width: 88%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 24px;
    border: 2px solid var(--gray-dse);
    background-color: var(--gray-dse);
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    transition: 0.2s ease-in-out;
    margin-top: 30px;
}


@media only screen and (max-width: 1000px) {
    .home-icons {
        flex-direction: column;
    }
}