:root {
    --dark: #131a26;
    --light: #eee;
    --primary: #232249;
    --secondary: #e5523a;
    --third: #6e2262;
    --fourth: #215291;
    --fifth: #1fa365;
    --green-dark: #0e7a48;
}

.profileContainer {
    width: 100%;
    height: max-content;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}